<p>
    <!DOCTYPE html>
<html>
<body>
<h2><span>Aquí te explico las caracteristicas del lenguaje de programación JavaScript</span></h2>
<p><span></span></p>
<dl class="row">
    <dt class="col-sm-3">JavaScript</dt>
    <dd class="col-sm-9">Se define como orientado a objetos,​ basado en prototipos, imperativo, débilmente tipado y dinámico.
        Se utiliza principalmente del lado del cliente, implementado como parte de un navegador web permitiendo mejoras en la interfaz de usuario y páginas web dinámicas4 y JavaScript del lado del servidor (Server-side JavaScript o SSJS). Su uso en aplicaciones externas a la web, por ejemplo en documentos PDF, aplicaciones de escritorio (mayoritariamente widgets) es también significativo.
        <p class="font-weight-bold">Ventajas</p>
            <ul>
              <li>Es un lenguaje muy sencillo.</li>
              <li>Es rápido, por lo tanto tiende a ejecutar las funciones inmediatamente.</li>
              <li>Cuenta con múltiples opciones de efectos visuales.</li>
              <li>Es soportado por los navegadores más populares y es compatible con los dispositivos más modernos, incluyendo iPhone, móviles y PS3.</li>
              <li>Es muy versátil, puesto que es muy útil para desarrollar páginas dinámicas y aplicaciones web.</li>
              <li>Es una buena solución para poner en práctica la validación de datos en un formulario.</li>
            </ul>
    </dd>
</dl>
</body>
</html>
</p>
